body {
  margin: 0;
  /*height: 700px;*/
  /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); */
  background: linear-gradient(black,#5e346c);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  background-attachment: fixed;
}


