.title{
    font-weight: bold;
    color:white;
}

.mainParent{
    position: relative;
    text-align: center;
    margin:auto;
}

.mainBox{
    display:flex;
    align-content: center;
    /*border: aliceblue 1px solid;*/
    width: 50%;
    transform: translate(50%,15%);
}

.childBox1{
    display:flex;
    flex-direction: column;
    text-align: left;
    color:white;
}

.label{
    font-weight: bolder;
    font-size: large;
    color: #D9B175;
}

@media only screen and (max-width: 600px) {
    .mainBox{
        display:flex;
        flex-direction: column;
        align-content: center;
        /*border: aliceblue 1px solid;*/
        width: 50%;
        transform: translate(50%,15%);
    }
}