body{
    background-color: #f0f2f3;
      
 
    }
.container {
    position: relative;    
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
  }
.centered {
    position: absolute;
    text-align:center;
    top: 70%;
    left: 20%;
    right:20%;
  }
.dispImage{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-items: center;
}
img{
  /* border-radius: 50%; */
  border-radius: 15px ; /* top left, top right, bottom right, bottom left */
    height: 300px;
    width:300px;
    margin:30px;
}