.intro{
    padding: 40px;
    font-size: larger;
    color: white;
    
}
.pict {
    display: flex;
    flex-direction: row;
    padding: 30px;
    justify-content:space-around;
    align-items: center;
    
}
.box2{
    text-align: center;
}
.apic {
    border-radius: 15px 15px 15px 15px; /* top left, top right, bottom right, bottom left */
 }
  .napic {
    /* border-radius: 70%; horizontal radius / vertical radius */
    border-radius: 15px 15px 15px 15px; /* top left, top right, bottom right, bottom left */
  }